<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mydawg.project.mydawgandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SuportedDog"
            android:label="@string/title_activity_suported_dog"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".querymyfood" />
        <activity android:name=".Activitymycalendar" />
        <activity android:name=".MyDogsMusic" />
        <activity
            android:name=".Activitymyregister"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitymydonation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitymyvet"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitymyevents"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitymydog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitymyfood"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MyDawgMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>